@import url(https://weloveiconfonts.com/api/?family=zocial);
/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}



body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #033249;
}

p{
	color:	#A52A2A;
}

a {
  color: #00B7FF;
}

.top_bar
{
background-color: #033249;
}
.name{
background-color: #033249;

}

.toRight{
	    margin-left: auto !important;
	    margin-right : 50px !important;
}


